on:
  pull_request:
    types: [opened, synchronize, edited, reopened]
  push:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        lambdapi-version: [lambdapi, lambdapi.3.0.0]
        lambdapi-stdlib-version: [lambdapi-stdlib.1.3.0]

    runs-on: ubuntu-latest

    steps:
      - name: Check out library
        uses: actions/checkout@v6

      - name: Install ocaml and opam
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            lambdapi: https://github.com/deducteam/opam-lambdapi-repository.git

      - name: Install required libraries
        run: sudo apt-get install -y libev-dev

      - name: Setup opam for testing the development version
        run: opam pin -n --dev-repo lambdapi
        if: matrix.lambdapi-version == 'lambdapi'

      - name: Install ${{ matrix.lambdapi-version }}
        run: opam install ${{ matrix.lambdapi-version }}

      - name: Install dependencies
        run: opam install ${{ matrix.lambdapi-stdlib-version }}

      - name: Check library
        run: |
          eval $(opam env)
          make
